<table class="table table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>날짜</th>
      <th>조회수</th>
    </tr>
  </thead>
  <tbody>
    {% for post in currentPosts %}
    <tr>
      <td>{{post.id}}</td>
      <td>
        <a data-toggle="modal" href="#myModal" data-title="{{post.title}}"
          data-content="{{post.content}}">{{post.title}}
        </a>
      </td>
      <td>{{post.userNick}}</td>
      <td>{{post.createdAt}}</td>
      <td>{{post.hit}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />
<a class="btn btn-default">글쓰기</a>

<nav>
  <ul class="pagination justify-content-center">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% set pages = posts.length // 2 %} {% for page in range(pages) %}
    <li><a href="/board/page/{{page+1}}">{{loop.index}}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->

        <p id="title" class="modal-title"></p>
      </div>

      <div class="modal-body">
        <p id="content" class="modal-content"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#myModal").on("show.bs.modal", function (e) {
    const title = $(e.relatedTarget).data("title");
    const content = $(e.relatedTarget).data("content");
    document.getElementById("title").innerHTML = title;
    document.getElementById("content").innerHTML = content;
  });
</script>