<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1CD2MSXBBQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-1CD2MSXBBQ');
  </script>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>YU 도서</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Login Form -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <link href="/login_css/login_css.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />

  <!-- search Form -->
  <link href="/search_css/search_css.css" rel="stylesheet" />

  <!-- join check -->
  <script>
    function joinFormSubmit() {
      const joinEmail = document.getElementById("joinEmail");
      const joinNick = document.getElementById("joinNick");
      const joinPassword = document.getElementById("joinPassword");
      const joinConfirmPassword = document.getElementById(
        "joinConfirmPassword"
      );
      const regularExpression =
        /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

      if (joinEmail.value === "") {
        alert("이메일을 입력하세요.");
        joinEmail.focus();
        return false;
      }

      if (joinEmail.value.match(regularExpression) === null) {
        alert("이메일 형식을 맞춰주세요.");
        joinEmail.focus();
        return false;
      }

      if (joinNick.value === "") {
        alert("닉네임을 입력하세요.");
        joinNick.focus();
        return false;
      }

      if (joinPassword.value === "") {
        alert("비밀번호를 입력하세요.");
        joinPasswrod.focus();
        return false;
      }

      if (joinConfirmPassword.value === "") {
        alert("비밀번호를 입력하세요.");
        joinPasswrod.focus();
        return false;
      }

      if (joinPassword.value !== joinConfirmPassword.value) {
        alert("비밀번호가 일치하지 않습니다.");
        joinConfirmPassword.focus();
        return false;
      }

      document.joinForm.submit();
    }
  </script>
</head>

<body>
  <!-- ======= Header ======= -->
  {% include "header.html" %}

  <!-- ======= 메인페이지 ======= -->
  {% include "hero.html" %}

  <main id="main">

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- ======= 책 검색 ======= -->
    <!-- {% include "search.html" %} -->

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- ======= 대출현황 ======= -->
    {% if user %} {% include "loan.html" %} {% endif %}

    </br>
    </br>
    </br>

    <!-- ====== 예약현황 ====== -->
    {% if user %} {% include "reserve.html" %} {% endif %}

    </br>
    </br>
    </br>

    <!-- =======  열람실 ======= -->
    {% include "seat.html" %}

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- ======= 로그인 ======= -->
    {% if not user %} {% include "login.html" %} {% endif %}

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- 회원가입 -->
    {% if not user %} {% include "join.html" %} {% endif %}

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- 비밀번호찾기 -->
    {% if not user %} {% include "find.html" %} {% endif %}
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>

</html>