<section id="loan" class="features">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>loan</h2>
      <p>대출현황</p>

      <table class="table table-hover">
        <thead style="text-align: center;">
          <tr>
            <th>제목</th>
            <th>저자명</th>
            <th>출판사</th>
            <th>발행년도</th>
            <th>페이지 수</th>
            <th>가격</th>
            <th>표지이미지</th>
            <th>대출일자</th>
            <th>반납일자</th>
          </tr>
        </thead>
        <tbody>
          {% for book in userBooks %}
          <tr>
            <td>
              <a href="/search/loan/return/{{book.id}}" onclick="return buttonClick()">
                {{book.title}}
              </a>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publicationYear}}</td>
            <td>{{book.page}}</td>
            <td>{{book.price}}</td>
            <td>
              <img class="fit-picture" src={{book.img}}>
            </td>
            {% if book.loan %}
            <td>
              {{book.createdAt}}
            </td>
            {% else %}
            <td>연체중</td>
            {% endif %}
          </tr>
          {% endfor %}

          {% for book in userBooksReturned %}
          <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publicationYear}}</td>
            <td>{{book.page}}</td>
            <td>{{book.price}}</td>
            <td>
              <img class="fit-picture" src={{book.img}}>
            </td>
            <td>
              {{book.loanDate}}
            </td>
            <td>{{book.createdAt}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    function buttonClick() {
      if (confirm('책을 반납합니다.'))
        return true;
      else
        return false;
    }
  </script>

</section>

</br>
</br>
</br>
</br>
</br>
</br>