<section id="login" class="contact">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>login</h2>
      <p>로그인</p>
      <div id="login" class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">로그인</h5>
                <form class="form-signin" id="login-form" action="/auth/login" method="post">
                  <div class="form-label-group">
                    <input type="email" id="email" name="email" class="form-control" />
                    <label for="inputEmail">Email</label>
                  </div>

                  <div class="form-label-group">
                    <input type="password" id="password" name="password" class="form-control" />
                    <label for="inputPassword">Password</label>
                  </div>

                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                    <label class="custom-control-label" for="customCheck1">비밀번호 기억하기</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                    로그인
                  </button>
                  <hr class="my-4" />
                  <!-- <button
                    class="btn btn-lg btn-google btn-block text-uppercase"
                    type="button"
                  >
                    <i class="fab fa-google mr-2"></i> 카카오 로그인
                  </button> -->
                  <a id="kakao" href="/auth/kakao" class="btn btn-lg btn-google btn-block text-uppercase">
                    카카오 로그인
                  </a>
                  <!-- <button
                    class="btn btn-lg btn-facebook btn-block text-uppercase"
                    type="submit"
                  >
                    <i class="fab fa-facebook-f mr-2"></i>회원가입
                  </button> -->
                  <a id="join" href="#join2" class="btn btn-lg btn-facebook btn-block text-uppercase scrollto">
                    회원가입</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>