<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>YU 도서</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Login Form -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="/login_css/login_css.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!-- search Form -->
    <link href="/search_css/search_css.css" rel="stylesheet" />
</head>

<body>
    <!-- ======= Header ======= -->
    {% include "header.html" %}

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Board</h2>
            <p>게시판</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="card card-signin my-5">
                    <div class="card-body" style="padding:50px;">
                        <div class="form-group">
                            <!-- <label for="title">제목</label> -->
                            <h3>{{post.title}}</h5>
                        </div>

                        <div style="float: right;">
                            <table class="table table-hover">
                                <p><b>작성자: </b>{{post.nick}}</p>
                                <p><b>조회수: </b>{{post.hit}}</p>
                                <p><b>등록일: </b>{{post.createdAt}}</p>
                            </table>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="form-group">
                            <!-- <label for="content">내용</label> -->
                            <h5>{{post.content}}</h7>
                        </div>

                        <br />

                        <hr class="my-4" />

                        <form id="login-form" action="/post/comment/{{post.id}}" method="post">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="anonymousCheck"
                                    name="anonymousCheck" />
                                <label class="custom-control-label" for="anonymousCheck">익명</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="writeContent" name="writeContent" class="form-control"
                                    maxlength="100" required="required" pattern=".{1,100}" />
                                <label for="inputComment">댓글을 입력하세요.</label>
                            </div>

                            <button type="submit" class="btn btn-default btn-primary">
                                댓글 작성
                            </button>
                        </form>

                        <br />

                        {% if comments %}
                        <div style="border:1px solid #dddada; padding:30px;">
                            {% for comment in comments %}
                            <div class="form-group">
                                <img src="https://user-images.githubusercontent.com/35963403/141422794-c9579a5f-c033-4182-b6a5-37b52f9a3906.png"
                                    width="30">
                                <label for="title">{{comment.nick}}</label>
                                <p>{{comment.createdAt}}</p>
                                <h6>{{comment.content}}</h5>
                            </div>

                            <hr class="my-4" />
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/aos/aos.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>
        <script src="/assets/vendor/purecounter/purecounter.js"></script>
        <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>
    </div>
</body>

</html>