</br>
</br>

<section id="search" class="about">
  <div class="container mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="card p-4 mt-3">
          <h3 class="heading mt-5 text-center">검색할 책을 입력하세요.</h3>
          <div class="d-flex justify-content-center px-5">
            <table>
              <tr>
                <td>
                  <form action="/search/library/" id="search-form" method="get">
                    <div class="search">
                      <table>
                        <tr>
                          <td>
                            <input type="text" id="library_book" class="search-input" placeholder="소장 도서"
                              name="library_book" />
                          </td>
                          <td><button type="submit" class="btn btn-facebook">
                              검색
                            </button></td>
                        </tr>
                      </table>
                    </div>
                  </form>
                </td>

              </tr>
              <tr>
                <td>
                  <form action="/search/book.json" id="search-form" method="get">
                    <div class="search">
                      <table>
                        <table>
                          <tr>
                            <td><input type="text" id="naver_book" class="search-input" placeholder="네이버 책 API"
                                name="naver_book" />
                            </td>
                            <td><button type="submit" class="btn btn-facebook">
                                검색
                              </button></td>
                          </tr>
                        </table>
                    </div>
                  </form>
                </td>

              </tr>
            </table>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  </div>
</section>